<div class="container home-container">
  <div class="row">
    <div class="col-md-12">
      <div class="item">
        <h1>Introduction</h1>
        <p>As personal trainers and group fitness instructors responsible 
            for what we do with our clients and classes, we often spend so
            much time preparing <br>the content for the middle “bulk” of our 
            sessions that we overlook two of the most important sections:
            the start and finish.  Preparation for the <br>safety and content of 
            the bulk of client time proves important, but recent research 
            suggests that our first and last five minutes hold the potential <br>
            for the most impact (Cotman).</p>
        <hr>
        <p>The first five minutes serve as an introduction to the session; we can 
            call this the “Intro.” The last five minutes serve as the conclusion 
            and <br>valediction; we can call this the “outro.” Most Intros include a 
            greeting, an expression of gratitude for showing up, a discussion of 
            safety regarding equipment, and, for group fitness instructors, recognition
            of new faces. Because research suggests that more actual learning—including
            potential transference of behavior—may  occur both at the start and finish 
            of our sessions (Jensen), this blog post explores  impactful non-traditional<br>
            additions to what we are already doing as trainers and instructors.</p>
      </div>
      <div class="item text-center">
          
        <a class = "btn btn-success" routerLink="/appointment"><span>Apply For Trainer</span></a>
      </div>

    </div>
  </div>
    
    
  </div>
